.yearCell {
  color: var(--text-color-secondary);
}

.programCell {
  display: flex;
  gap: var(--space-8);
  align-items: center;
}

.emptyTrack {
  color: var(--text-color-dimmed);
  font-weight: 450;
}

.actionsMenu {
  display: flex;
  padding: 0 var(--space-4);
  justify-content: end;
}

