---
import type { Course, Flowsheet } from '../types';
import NavigationControls from './NavigationControls.astro';
import CourseFilter from './CourseFilter.astro';
import { api } from '../utils/api';
import CourseCard from './CourseCard.astro';
import { buildCoursesGraph } from '../utils/createCoursesGraph';
import { TERM_NAMES } from '../types';

interface Props {
  flowsheet: Flowsheet;
}

const { flowsheet } = Astro.props;

const terms = flowsheet.terms.filter(t => t.placements.length > 0);

const courseIds = terms.flatMap(t => t.placements.map(p => p.course));
const courses = await api<Course[]>(`/courses/list/detailed?courses=${courseIds}`);
const coursesLookup = Object.fromEntries(courses.map(c => [c.id, c])) as Record<number, Course>;

const coursesGraph = buildCoursesGraph(flowsheet);
---

<div class="space-y-2 relative">
  <CourseFilter sections={flowsheet.sections} />
  <NavigationControls />

  <div class="relative flex justify-center">
    <div id="left-hidden-gradient" class="pointer-events-none absolute left-0 z-20 w-8 sm:w-5 h-full bg-gradient-to-r from-white" />
    <div id="right-hidden-gradient" class="pointer-events-none absolute right-0 z-20 w-8 sm:w-5 h-full bg-gradient-to-l from-white" />

    <div class="overflow-auto w-fit px-0.5" id="courses-grid">
      <div
        class="grid gap-2"
        style={{ gridTemplateColumns: `repeat(${terms.length}, auto)` }}
      >
        {terms.map((term, colIdx) => (
          <div class="flex flex-col gap-2" style={{ gridColumn: colIdx + 1 }}>
            <div class="w-[8rem] lg:w-40 text-xs opacity-60 text-center select-none whitespace-nowrap">
              {TERM_NAMES[(term.termNumber - 1) % 3]} —{' '}
              {term.placements.reduce((sum, p) => sum + (coursesLookup[p.course]?.creditHours ?? 0), 0)} Cr.
            </div>

            {term.placements.map(placement => {
              const course = coursesLookup[placement.course];
              if (!course) return null;
              const requisites = coursesGraph.get(course.id);

              return (
		<div class="min-h-[6.9rem] lg:min-h-[8.6rem] w-[8rem] lg:w-40">
		  <CourseCard
		    course={course}
		    prerequisites={[...(requisites?.prerequisites ?? [])]}
		    corequisites={[...(requisites?.corequisites ?? [])]}
		    prerequisiteSequence={
		      [...(requisites?.prerequisiteSequence ?? [])].filter(
			id => !requisites?.prerequisites.has(id),
		      )
		    }
		    postrequisiteSequence={[...(requisites?.postrequisiteSequence ?? [])]}
		  />
		</div>
              );
            })}
          </div>
        ))}
      </div>
    </div>
  </div>

  <p class="text-center opacity-40 text-sm">Remedial courses are not included</p>
</div>

<style>
  #courses-grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  #courses-grid::-webkit-scrollbar {
    display: none;
  }
</style>
