.card {
  z-index: 4;
  padding: var(--space-3);
  background: var(--gray-2);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius-2);
  height: 6rem;
  user-select: none;
  position: relative;
  cursor: pointer;
  transition: 250ms;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -2px;
  }

  &[data-hovered] {
    border-color: var(--gray-4);

    .footerButtons {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &[data-pressed] {
    background: var(--gray-a2);
  }
}

.card.selected {
  background: var(--primary-2);
  border: 1px solid var(--primary-6);
}

.card.focused {
  border: 1px solid var(--primary-6);
}

.card.PREREQ {
  background: #fdba74;
}

.card.selectedPrerequisite {
  background: yellow;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.code {
  text-transform: uppercase;
}
