.card {
  z-index: 4;
  padding: var(--space-3);
  background: var(--gray-2);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius-2);
  height: 6rem;
  user-select: none;
  position: relative;
  cursor: pointer;
  transition: 250ms;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -2px;
  }

  &[data-hovered] {
    border-color: var(--gray-4);

    .footerButtons {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &[data-pressed] {
    background: var(--gray-a2);
  }

  &[data-state=FOCUSED] {
    background: var(--primary-2);
    border: 1px solid var(--primary-6);
  }

  &[data-state=PREREQ] {
    background: #fdba74;
  }

  &[data-state=PREREQSEQ] {
    background: #fef08a;
  }

  &[data-state=POSTREQSEQ] {
    background: #075985;

    .code {
      color: var(--primary-contrast);
    }

    .name {
      color: var(--primary-contrast);
    }
  }

  &[data-state=DISABLED] {
    opacity: 0.5;
  }

  &[data-state=PREREQ_LINK] {
    border: 1px solid #fdba74;
  }

  &[data-state=COREQ_LINK] {
    border: 1px solid var(--gray-8);
  }

  &[data-state=LINK_SOURCE] {
    background: var(--primary-2);
    border: 1px solid var(--primary-6);
  }
}

.card.selected {
  background: var(--primary-2);
  border: 1px solid var(--primary-6);
}

.card.focused {
  border: 1px solid var(--primary-6);
}

.card.selectedPrerequisite {
  background: yellow;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.code {
  color: var(--text-color-dimmed);
  font-weight: 450;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}

.name {
  color: var(--text-color-base);
  font-size: var(--font-size-sm);
}
