@import "./theme.css";

.button {
    color: var(--text-color);
    border-radius: 0.25rem;
    appearance: none;
    vertical-align: middle;
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
    outline: none;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &[data-hovered] {
        background: var(--button-background-hovered);
    }

    &[data-pressed] {
        background: var(--button-background-pressed);
        border-color: var(--border-color-pressed);
    }

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
    }

    &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
    }

    &[data-variant=default] {
        background: var(--button-background);
        border: 1px solid var(--border-color);
    }

    &[data-variant=transparent] {
        border: 0;
        padding: 0.25rem;
    }
}
