@import "./theme.css";

.react-aria-Menu {
    max-height: inherit;
    box-sizing: border-box;
    overflow: auto;
    padding: 0.25em;
    min-width: 150px;
    outline: none;
}

.react-aria-MenuItem {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    cursor: default;
    color: var(--text-color);
    position: relative;
    display: flex;
    gap: var(--space-3);
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    forced-color-adjust: none;
    height: var(--space-9);

    &[data-focused],
    &[data-open] {
        background: var(--highlight-background);
        color: var(--highlight-foreground);
    }

    &[data-disabled] {
        color: var(--text-color-disabled);
    }
}

.react-aria-MenuItem {
    background: var(--overlay-background);

    &[data-selection-mode] {
        padding-left: 24px;

        &::before {
            position: absolute;
            left: 4px;
            font-weight: 600;
        }

        &[data-selection-mode=multiple][data-selected]::before {
            content: '✓';
            content: '✓' / '';
            alt: ' ';
            position: absolute;
            left: 4px;
            font-weight: 600;
        }

        &[data-selection-mode=single][data-selected]::before {
            content: '●';
            content: '●' / '';
            transform: scale(0.7)
        }
    }
}

.react-aria-MenuItem[href] {
    text-decoration: none;
    cursor: pointer;
}

.react-aria-Menu {
    .react-aria-MenuSection:not(:first-child) {
        margin-top: 12px;
    }

    .react-aria-Header {
        font-size: 1.000125rem;
        font-weight: bold;
        padding: 0 0.6247499999999999rem;
    }
}

.react-aria-Popover[data-trigger=SubmenuTrigger][data-placement="right"] {
    margin-left: -5px;
}

.react-aria-Popover[data-trigger=SubmenuTrigger][data-placement="left"] {
    margin-right: -5px;
}

.react-aria-Popover[data-trigger=SubmenuTrigger] .react-aria-SearchField {
    margin: 4px 8px;
}
