.wrapper {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.headerGroup {
    display: flex;
    gap: var(--space-2);
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    padding: var(--space-2) var(--space-3);
    background: var(--gray-2);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-2);
    height: 8rem;
    user-select: none;
    width: 100%;
    position: relative;
    cursor: pointer;

    &[data-mode=pending] {
        opacity: 75%;
    }

    [slot=actions] {
        position: absolute;
        top: var(--space-2);
        right: var(--space-2);
    }

    &[data-selected] {
        background: var(--primary-2);
        border: 1px solid var(--focus-ring-color);
        /*outline-offset: -2px;*/
        /*transform: translateY(-2px);*/
        /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
    }

    &[data-hovered]:not([data-selected=true]) {
        border-color: var(--gray-6);
        background: var(--gray-2);
    }
}

.code {
    color: var(--text-color-dimmed);
    font-weight: 450;
    font-size: var(--font-size-xs);
}

.name {
    color: var(--text-color-base);
    font-size: var(--font-size-xs);
    transition: color 0.2s ease;
}