.card {
  padding: var(--space-3) var(--space-3);
  background: var(--gray-2);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-2);
  height: 7.5rem;
  user-select: none;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: 250ms;

  &[data-hovered] {
    border-color: var(--gray-6);

    .footerButtons {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &[data-pressed] {
    background: var(--gray-a2);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
    transition: none;
  }
}

.code {
  font-weight: 450;
  font-size: var(--font-size-xs);
  color: var(--text-color-dimmed);
}

.card[data-state='SELECTED'] {
  background: var(--primary-2);
  border: 1px solid var(--primary-6);
}

.card[data-state='WARN'] {
  background: #ffebed;
  border: 1px solid #ffc2c9;
}

.card[data-state='DISABLED'] {
  opacity: 0.5;
}

.card[data-state='LINK_SOURCE'] {
  background: var(--primary-2);
  border: 1px solid var(--primary-6);
}

.card[data-state='MOVING'] {
  background: var(--primary-2);
  border: 1px solid var(--primary-6);
}

.card[data-state='PREREQ_LINK'] {
  background: #fff5eb;
  border: 1px solid #fdd8af;

  svg {
    color: #f89f3a;
  }
}

.card[data-state='COREQ_LINK'] {
  background: var(--gray-3);
  border: 1px solid var(--gray-7);

  svg {
    color: var(--gray-9);
  }
}
