.grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.grid::-webkit-scrollbar {
  display: none;
}

.addTermButton {
  left: var(--space-2);
  top: calc(-1 * var(--space-1));
}

.placements {
  all: unset;
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: var(--space-2);
  position: relative;
}

.placementCard {
  position: relative;
}

.skeletonCard {
  height: 7rem;
  width: 100%;
  border-radius: var(--radius-2);
  background: linear-gradient(90deg, #f1f1f1 25%, #f4f4f4 50%, #f1f1f1 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.dropIndicator {
  height: 0.2rem;
  border-radius: var(--radius-1);
  width: 10rem;
  background-color: var(--primary-8);
  position: absolute;
  opacity: 0;
}
