
.wrapper {
    position: absolute;
    bottom: var(--space-6);
    width: 100%;
    /*pointer-events: none;*/
}

.toolbar {
    color: var(--text-color-base);
    font-size: var(--font-size-sm);
    margin: 0 auto;
    width: fit-content;
    box-shadow: var(--shadow-sm);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-2);
    padding: var(--space-2);
}

.selectionCounter {
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-1);
    /*outline: 1px solid var(--border-color);*/
    outline-offset: -1px;
    background: var(--background-color-secondary);
}