.terms {
    display: flex;
    gap: var(--space-2);
    width: fit-content;
}

.term {
    width: 12rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    align-items: center;
    user-select: none;
}

.courseCardList {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    align-items: center;
}

.termHeader {
    display: flex;
    gap: var(--space-1);
    color: var(--text-color-dimmed);
    font-size: var(--font-size-xs);
}

.placeCoursesButton {
    color: var(--primary-color);
    font-weight: 500;

    &[data-hovered] {
        color: var(--text-color-base);
    }
}

.addTermSection {
    position: relative;
    color: var(--text-color-secondary);
    padding: 0 var(--space-2);
}

.addTermButton {
    position: absolute;
    top: 0;
    left: var(--space-2);
}