.toolbar {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.option {
    padding: var(--space-3) var(--space-4);
}

.horizontalOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-8);
}

.verticalOption {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.label {
    display: flex;
    align-items: center;
    color: var(--text-color-secondary);
    gap: var(--space-2);
    font-weight: 450;
    font-size: var(--font-size-xs);
}

.optionActions {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}

.columnPills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
}

.columnPill {
    font-size: var(--font-size-xs);
    padding: 0 var(--space-2);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-1);
    color: var(--text-color-dimmed);

    &[data-hovered] {
        color: var(--text-color-base);
        background-color: var(--highlight-background-hovered);
    }

    &[data-active] {
        box-shadow: var(--shadow-sm);
        color: var(--text-color-base);
    }

    &[data-pressed] {
        color: var(--text-color-base);
        background-color: var(--highlight-background-pressed);
    }
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}