
.toolbar {
    display: flex;
    gap: var(--space-2);
}

.viewOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-8);
}

.viewOptionLabel {
    display: flex;
    align-items: center;
    color: var(--text-color-base);
    gap: var(--space-3);
    font-weight: 400;
    font-size: var(--font-size-sm);

    > svg {
        color: var(--text-color-dimmed);
    }
}

.sortingActions {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}