
.dialog {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.mainForm {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.header {
    display: flex;
    gap: var(--space-2);
    justify-content: space-between;
}

.footer {
    display: flex;
    gap: var(--space-2);
    justify-content: end;
}