
.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4) var(--space-5);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.programAndName {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    margin-bottom: var(--space-3);
}

.header {
    display: flex;
    gap: var(--space-2);
    justify-content: space-between;
}

.footer {
    display: flex;
    gap: var(--space-5);
    justify-content: end;
    padding: var(--space-4) var(--space-5);
}

.flowsheetProperties {
    display: flex;
    gap: var(--space-4);
}

.programFormFields {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4) var(--space-5);
}

.programFormSubmit {
    display: flex;
    gap: var(--space-5);
    align-items: center;
}

.createProgramButton {
    padding: var(--space-1) var(--space-4);
    font-size: var(--font-size-sm);
    color: var(--primary-color);
    margin: var(--space-2) auto;

    font-weight: 450;
    border-radius: var(--radius-1);

    &[data-hovered] {
        color: var(--text-color-base);
    }
}

.programFormFooter {
    display: flex;
    justify-content: space-between;
    gap: var(--space-4);
    padding: var(--space-4) var(--space-5);
}

.createProgramSection {
    display: flex;
    border-top: 1px solid var(--border-color);
}