.idCell {
  display: flex;
  gap: var(--space-8);
  align-items: center;
  color: var(--text-color-base);
}

.userCell {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-size-sm);
}

.dateCell {
  color: var(--text-color-secondary);
}

.actionsMenu {
  display: flex;
  padding: 0 var(--space-4);
  justify-content: end;
}
