.placeCoursesButton {
  color: var(--primary-color);
  font-weight: 500;

  &[data-hovered] {
    color: var(--text-color-base);
  }
}

.addTermButton {
  position: absolute;
  top: 0;
  left: var(--space-2);
}

.term {
  min-width: 10rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.termDropZone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  min-height: 7.5rem;
  height: 100%;
  min-width: 100%;
  background: var(--gray-4);
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: opacity 250ms;

  &[data-is-drop-target] {
    opacity: 0.9;
  }
}

.placementsList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.addCourseButton {
  all: unset;
  color: var(--text-color-secondary);
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2);
  transition:
    color 0.15s ease,
    background 0.15s ease;
}

.addCourseButton[data-hovered] {
  background: var(--highlight-background-hovered);
  color: var(--text-color-base);
}

.addCourseButton[data-focused] {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: -2px;
  border-radius: var(--radius-2);
}
