.appShell {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent body scroll */
}

.mainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

main {
    overflow: auto;
    flex: 1;
}