.appShell {
    display: flex;
}

.appShell main {
    height: 100%;
    overflow-x: auto;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-1);
}

.mainContainer {
    box-shadow: var(--shadow-sm);
    background: var(--sidebar-background);
    width: 100%;
    padding: var(--space-2) var(--space-2) var(--space-2) 0;
}