.appShell {
  display: flex;
  height: 100svh;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}
