.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: var(--space-2) var(--space-8);
    gap: var(--space-3);
}

.headerSlot {
    display: flex;
    align-items: center;
    gap: var(--space-3);
}

.main {
    justify-content: flex-start;
}

.actions {
    justify-content: flex-end;
}

.title {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    font-size: var(--font-size-base);
    font-weight: 450;

    margin-right: var(--space-2);
}
