.header {
  position: relative;
  top: 0;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: var(--space-3) var(--space-5);
  gap: var(--space-3);
  background: var(--background-color);
  align-items: center;
  z-index: 2;

  &[data-show-border] {
    border-bottom: 1px solid var(--border-color);
  }
}

.headerSlot {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.main {
  align-items: center;
  justify-content: flex-start;
}

.actions {
  align-items: center;
  justify-content: flex-end;
}

.title {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  font-size: var(--font-size-base);
  font-weight: 450;

  margin-right: var(--space-2);
}
