.settingsSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.settingsSectionHeader {
  margin-left: var(--space-2);
  color: var(--text-color-base);
  font-weight: 450;
  font-size: var(--font-size-lg);
}

.settingsSection {
  background: var(--background-color);
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
}

.settingsField {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  padding: var(--space-4) var(--space-4);
  justify-content: space-between;
}

.settingsFieldLabelContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.settingsFieldLabel {
  font-size: var(--font-size-sm);
  font-weight: 450;
  color: var(--text-color-base);
}

.settingsFieldDescription {
  color: var(--text-color-secondary);
  font-size: var(--font-size-xs);
}

