@import "./theme.css";

.my-autocomplete {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 250px;
    background: var(--overlay-background);

    .react-aria-SearchField {
        width: 100%;

        .react-aria-Input {
            width: 100%;
            padding: var(--space-2) var(--space-3);
            border: 0;
            border-bottom: 1px solid var(--border-color);
            border-top-left-radius: var(--radius-2);
            border-top-right-radius: var(--radius-2);
            background: var(--field-background);
            font-size: var(--font-size-sm);
            color: var(--text-color-base);
            outline: none;
        }
    }
}

.react-aria-Label {
    margin-bottom: .5em;
}

.react-aria-Menu {
    &[data-empty] {
        align-items: center;
        justify-content: center;
        font-style: italic;
    }
}

.react-aria-MenuItem[href] {
    text-decoration: none;
    cursor: pointer;
}
