@import "./theme.css";

.button {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: var(--radius-1);
    appearance: none;
    vertical-align: middle;
    font-size: var(--font-size-base);
    text-align: center;
    margin: 0;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    font-weight: 400;


    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
    }

    &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
    }
}

.button[data-variant=default] {
    background-color: var(--background-color);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--border-color);

    &[data-hovered] {
        background: var(--highlight-background);
    }

    &[data-pressed] {
        background: var(--highlight-background-pressed);
        border-color: var(--border-color-pressed);
    }
}

.button[data-variant=transparent] {
    background-color: var(--background-color);
    border: 0;
    padding: 0 var(--space-1);

    &[data-hovered] {
        background: var(--highlight-background);
    }

    &[data-pressed] {
        background: var(--highlight-background-pressed);
        border-color: var(--border-color-pressed);
    }
}

.button[data-variant=primary] {
    background-color: var(--button-background);
    border: 0;
    color: var(--primary-contrast);
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-1);

    &[data-hovered] {
        background: var(--button-background-hovered);
    }

    &[data-pressed] {
        background: var(--button-background-pressed);
        border-color: var(--border-color-pressed);
    }
}

.button[data-variant=flat] {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

    &[data-hovered] {
        background: var(--highlight-background);
    }

    &[data-pressed] {
        background: var(--highlight-background-pressed);
        border-color: var(--border-color-pressed);
    }
}

.button[data-size=md] {
    font-size: var(--font-size-sm);
    padding: var(--space-1) var(--space-3);
}

.button[data-size=sm] {
    font-size: var(--font-size-sm);
    padding: 0 var(--space-2);
}

.button[data-size=icon] {
    padding: var(--space-1);
}