@import "./theme.css";

.react-aria-Dialog {
  outline: none;
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  padding: var(--space-4);

  .react-aria-Heading[slot=title] {
    line-height: 1em;
    margin-top: 0;
  }
}
