@import "./theme.css";

.my-stepper-buttons {
    display: flex;
    flex-direction: column;

    .react-aria-Button {
        background-color: transparent;
        padding: 0 var(--space-1);

        [slot=increment] {
            border-bottom: 1px solid var(--border-color);
        }
    }
}

.react-aria-NumberField {
    color: var(--text-color);
    width: fit-content;

    .react-aria-Group {
        border: 1px solid var(--border-color);
        border-radius: var(--radius-1);
        display: flex;

        &[data-focus-within] {
            outline: 1px solid var(--focus-ring-color);
            border-radius: var(--radius-1);

            .react-aria-Input,
            .react-aria-Button {
                border-color: var(--focus-ring-color);
            }
        }
    }

    .react-aria-Input {
        all: unset;
        font-size: var(--font-size-sm);
        padding-left: var(--space-2);
        width: 70px;
    }

    &[data-invalid] {
        .react-aria-Input,
        .react-aria-Button {
            border-color: var(--invalid-color);
        }

        &:focus-within {
            .react-aria-Input,
            .react-aria-Button {
                border-color: var(--focus-ring-color);
            }
        }
    }

    .react-aria-FieldError {
        font-size: var(--font-size-xs);
        color: var(--invalid-color);
    }

    [slot=description] {
        font-size: var(--font-size-xs);
    }

    .react-aria-Button {
        &[data-disabled] {
            border-color: var(--border-color-disabled);
            color: var(--text-color-disabled);
        }
    }

    .react-aria-Input {
        &[data-disabled] {
            border-color: var(--border-color-disabled);
            color: var(--text-color-disabled);
        }
    }
}
