@import "./theme.css";

.react-aria-SearchField {
    display: grid;
    grid-template-areas: "label label"
                       "input button"
                       "help  help";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: fit-content;
    color: var(--text-color-base);

    .react-aria-Input {
        grid-area: input;
        width: 100%;
        font-size: var(--font-size-sm);
        color: var(--text-color-base);
        outline: none;
        border: 0;
        padding: 0;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::placeholder {
            color: var(--text-color-secondary);
            opacity: 1;
        }
    }

    /*.react-aria-Group {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    gap: var(--space-2);*/

    /*    border-radius: var(--radius-1);*/

    /*    &[data-focus-within] {*/
    /*        outline: 2px solid var(--focus-ring-color);*/
    /*        outline-offset: -1px;*/
    /*    }*/
    /*}*/

    .react-aria-Button {
        grid-area: button;
        width: 1.000125rem;
        height: 1.000125rem;
        border-radius: 1.000125rem;
        margin-left: -1.5rem;
        font-size: 0.749875rem;
        line-height: 0.749875rem;
        vertical-align: middle;
        text-align: center;
        background-color: transparent;
        color: var(--text-color-dimmed);
        border: none;
        padding: 0;

        &[data-pressed] {
            background: var(--button-background-pressed);
        }
    }

    &[data-empty] button {
        display: none;
    }

    .react-aria-Input {

        &[data-invalid] {
            border-color: var(--invalid-color);
        }
    }

    .react-aria-FieldError {
        grid-area: help;
        font-size: 12px;
        color: var(--invalid-color);
    }

    [slot=description] {
        grid-area: help;
        font-size: 12px;
    }

    .react-aria-Input {
        &[data-disabled] {
            border-color: var(--border-color-disabled);
            color: var(--text-color-disabled);
        }
    }
}
