@import "./theme.css";

.react-aria-SearchField {
    display: grid;
    grid-template-areas: "label label"
                       "input button"
                       "help  help";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: fit-content;
    color: var(--text-color-base);

    .react-aria-Input {
        grid-area: input;
        width: 100%;
        font-size: var(--font-size-sm);
        color: var(--text-color-base);
        outline: none;
        border: 0;
        padding: 0;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::placeholder {
            color: var(--text-color-dimmed);
            opacity: 1;
        }
    }

    .react-aria-Group[slot=right] {
        position: absolute;
        right: var(--space-2);
        gap: var(--space-2);
        padding-left: var(--space-2);
    }

    .react-aria-Group {
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--space-3);
        border-radius: var(--radius-1);

        &[data-focus] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -2px;
        }

        [slot=icon] {
            margin-left: var(--space-2);
            height: 22px;
            color: var(--text-color-secondary);
        }

        [slot=clear] {
            border: 0;
            padding: 0.1rem;
            background-color: transparent;
            line-height: 0;
            border-radius: 1rem;
            color: var(--text-color-dimmed);

            &[data-pressed] {
                background: var(--highlight-background-pressed);
            }
        }
    }

    &[data-empty] button {
        display: none;
    }

    .react-aria-Input {

        &[data-invalid] {
            border-color: var(--invalid-color);
        }
    }

    .react-aria-FieldError {
        grid-area: help;
        font-size: 12px;
        color: var(--invalid-color);
    }

    [slot=description] {
        grid-area: help;
        font-size: 12px;
    }

    .react-aria-Input {
        &[data-disabled] {
            border-color: var(--border-color-disabled);
            color: var(--text-color-disabled);
        }
    }
}
