@import "./theme.css";

.react-aria-Switch {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-size-xs);
  color: var(--text-color-secondary);
  forced-color-adjust: none;

  .indicator {
    width: 1.75rem;
    height: 1rem;
    border: 2px solid var(--gray-5);
    background: var(--gray-5); /* Darker base background */
    border-radius: 1rem;
    transition: background 200ms, border-color 200ms;

    &:before {
      content: '';
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      background: var(--background-color);
      border-radius: 16px;
      transition: transform 200ms;
    }
  }

  /* Thumb slides when selected */
  &[data-selected] .indicator:before {
    transform: translateX(100%);
  }

  &[data-selected] .indicator {
    background: var(--primary-color);
    border-color: var(--primary-color);
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);

    .indicator {
      border-color: var(--border-color-disabled);

      &:before {
        background: var(--border-color-disabled);
      }
    }
  }
}
