.userProfile {
    display: flex;
    cursor: default;
    align-items: center;
    width: 100%;
    gap: 1rem;
    text-align: left;
}

.username {
    color: var(--text-color);
    font-weight: 500;
}

.role {
    color: var(--text-color-secondary);
}

.chevron {
    margin-left: auto;
}